<div class="flex-1 bg-white">
  <main id="content" class="Main grid-container">
    {{> components/HeroMedia/HeroMedia }}

    <ol class="ExampleTeaserList">
      <li>
        {{> components/Teaser/Teaser title="My Article Title" summary="A brief
        description of the article." buttonText="Read more" }}
      </li>

      <li>
        {{> components/Teaser/Teaser title="LongerUnbrokenWordThatShouldBreak"
        summary="A brief description of the article."
        buttonText="Antidisestablishmentarianism" }}
      </li>

      <li>
        {{> components/Teaser/Teaser title="My Article Title" summary="A brief
        description of the article." buttonText="Read more" }}
      </li>

      <li>
        {{> components/Teaser/Teaser title="My Article Title" summary="A brief
        description of the article." buttonText="Read more" }}
      </li>

      <li>
        {{> components/Teaser/Teaser title="My Article Title" summary="A brief
        description of the article." buttonText="Read more" }}
      </li>

      <li>
        {{> components/Teaser/Teaser title="My Article Title" summary="A brief
        description of the article." buttonText="Read more" }}
      </li>
    </ol>
  </main>
</div>
