/* prettier-ignore */
:where(:root) {
    --BASE--GRID--CONTENT--PADDING: var(--SITE--PADDING);
    --BASE--GRID--CONTENT--MAX--WIDTH: var(--MAXWIDTH--SITE);
  
    --BASE--GRID--GAP--MOBILE: var(--GRID--GAP--MOBILE);
    --BASE--GRID--GAP--DESKTOP: var(--GRID--GAP--DESKTOP);
  
    --BASE--GRID--COLUMNS--MOBILE: 1fr;
    --BASE--GRID--COLUMNS--DESKTOP: repeat(12, 1fr);
  }

/* prettier-ignore */
@media (max-width: 24.99rem) {
    :where(:root) {
        --BASE--GRID--GAP: var(--BASE--GRID--GAP--MOBILE);
        --BASE--GRID--COLUMNS: var(--BASE--GRID--COLUMNS--MOBILE);
    }
  }

/* prettier-ignore */
@media (min-width: 25rem) {
    :where(:root) {
        --BASE--GRID--GAP: var(--BASE--GRID--GAP--DESKTOP);
        --BASE--GRID--COLUMNS: var(--BASE--GRID--COLUMNS--DESKTOP);
    }
  }

.base-grid {
  display: grid;
  gap: var(--BASE--GRID--GAP);
  grid-template-columns: var(--BASE--GRID--COLUMNS);
}
