
    <div class="Tabs" data-fixed="false" data-overflow="true" data-alignment="left">
      <nav>
        <div class="sliderContainer">

          <button class="leftToggle" style="--_opacity: 0;">←</button>

          <ul class="list" aria-lbael="tablist">
            <li>
              <button>text 1</button>
            </li>
            <li>
              <button>text 2</button>
            </li>
            <li>
              <button>text 3</button>
            </li>
            <li>
              <button>text 4</button>
            </li>
            <li>
              <button>text 5</button>
            </li>
            <li>
              <button>text 6</button>
            </li>
            <li>
              <button>text 7</button>
            </li>
            <li>
              <button>text 8</button>
            </li>
            <li>
              <button>text 9</button>
            </li>
            <li>
              <button>text 10</button>
            </li>
            <li>
              <button>text 11</button>
            </li>
            <li>
              <button>text 12</button>
            </li>
            <li>
              <button>text 13</button>
            </li>
            <li>
              <button>text 14</button>
            </li>
            <li>
              <button>text 15</button>
            </li>
          </ul>

          <button class="rightToggle" style="--_opacity: 0;">→</button>
        </div>
      </nav>
      <div class="panel">
        panel content...
      </div>
    </div>
