<div class="page">
  <div class="examplePanel">
    <h1>Custom html toggletip</h1>
    <p>Some text</p>
    <toggle-tip></toggle-tip>
    <p>A longer text with a toggletip at the end</p>
    <toggle-tip>
      <p>Toggle content</p>
    </toggle-tip>
    <div class="innerExample-1">
      <p>text aligned to start and toggletip aligend to end.</p>
      <toggle-tip></toggle-tip>
    </div>
    <p>The below toggletip is aligend to the center of the screen</p>
    <div class="innerExample-2">
      <toggle-tip icon="question" title="title" position="bottom">
        <p>Text in a toggle</p>
      </toggle-tip>
    </div>
  </div>
</div>
